/*
  === COLOR THEME ===
  1. 040a18 - 60 (Gunmetal)
  2. 05263b - 30 (Teal Blue)
  3. 43758a - 10 (Queen Pink)
*/

/* Font: Nunito */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');

:root {
  --secondary-color: #040a18; /* 60 */
  --primary-color: #05263b; /* 30 */
  --accent-color: #43758a; /* 10 */
  --text-color: #ecf3fb;
  --leave-color: rgba(155, 33, 33, 0.781);
  --green-color: rgba(105, 228, 89, 0.849);
  --green-dim-color: rgba(48, 136, 36, 0.459);
  --light-color: #195072; /* 30 */

  /* Margin & Padding */
  --sm: 8px;
  --md: 12px;
  --lg: 16px;
  --xlg: 22px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--primary-color);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--leave-color);
}

body {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif;
}

.setting__icon {
  background-color: var(--secondary-color);
  height: 40px;
  width: 40px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 10px;
  font-size: 20px;

  cursor: pointer;
}

a {
  text-decoration: none;
  color: #0c0e0c;
}

li {
  list-style-type: none;
}

.btn {
  background-color: transparent;
  height: 36px;
  min-width: 100px;
  outline: none;
  border: none;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.45px;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  transition: all 0.5s ease-in-out;
}

.homepage__wrapper {
  font-family: 'Nunito', sans-serif;
  background-color: var(--primary-color);
  width: 500px;
  max-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: var(--xlg);
  border-radius: 12px;
}

.homepage__wrapper-logoContainer,
.editorpage__sidebar-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  margin-bottom: var(--lg);
}

.homepage__wrapper-logoContainer img,
.editorpage__sidebar-logo-container img {
  width: 250px;
  height: 250px;
  object-fit: contain;
}

.homepage__wrapper-formContainer {
  width: 100%;
}

.homepage__wrapper-formContainer > h4 {
  color: var(--text-color);
  margin-bottom: var(--xlg);
}

.homepage__wrapper-form input {
  display: block;
  width: 100%;
  margin-bottom: var(--lg);
  font-size: 17px;
  font-weight: 700;
  color: var(--secondary-color);

  padding: var(--md);
  border-radius: var(--sm);
  outline: none;
  border: none;
}

.homepage__wrapper-form-btn {
  background-color: var(--accent-color);
  border-radius: var(--sm);
  color: var(--secondary-color);
  margin: 0 0 var(--xlg) auto;
  font-weight: 700;
}

.homepage__wrapper-form-btn:hover {
  background-color: rgb(45, 105, 140);
}

.homepage__wrapper-inviteText {
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.2px;
}

.homepage__wrapper-inviteText a {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.2px;
  transition: all 0.4s ease-in-out;
}

.homepage__wrapper-inviteText a:hover {
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.2px;
  text-decoration: underline;
}

/* Editor page styling */

.editorpage__wrapper {
  font-family: 'Nunito', sans-serif;
  color: var(--text-color);
  min-height: 100vh;
  min-width: 100vw;

  display: flex;
}

.editorpage__code-editor {
  flex: 1;
}

.editorpage__sidebar {
  display: flex;
  flex-direction: column;
  padding: var(--sm);
  background-color: var(--primary-color);
  width: 250px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
}

.editorpage__sidebar-left {
  display: flex;
  flex-direction: column;
  padding: var(--sm);
  background-color: var(--primary-color);
  width: 250px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

.editorpage__sidebar-logo-container {
  border-bottom: 2px solid var(--accent-color);
}

.editorpage__sidebar-connected-text {
  color: var(--green-color);
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin-bottom: var(--lg);
  text-align: center;
}

.editorpage__sidebar-clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 2px solid var(--accent-color);
  padding-top: var(--lg);
  flex: 1;
  min-height: 50px;
  overflow-y: scroll;
}

.editorpage__btn-container {
  display: flex;
  flex-direction: column;
  padding: 20px 10px 0px;
}

.editorpage__btn-roomid,
.editorpage__btn-leave {
  background-color: var(--secondary-color);
  color: var(--accent-color);
  height: 45px;
  border-radius: 5px;
  margin-bottom: var(--lg);
  font-weight: 700;
  letter-spacing: 0.5px;
  letter-spacing: 0.8px;
}
.editorpage__btn-leave {
  background-color: var(--secondary-color);
  color: var(--light-color);
  margin-bottom: 0;
  letter-spacing: 1.8px;
  height: 40px;
}

.CodeMirror {
  width: calc(100vw - 250px);
  min-height: 100%;
  font-size: 20px;
  line-height: 1.6;
  padding-top: var(--lg);
}

/*  */

.sidebar__option {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar__position-label {
  font-size: 17px;
}

.radio__option-text {
  font-size: 14px;
}

.theme__select-options {
  margin-top: 20px;
}

.theme__select-options select {
  outline: none;
  border: none;
  font-family: 'Nunito';
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
  background-color: var(--light-color);
  color: var(--text-color);

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.theme__select-options select option {
  padding: 10px 0px;
}

.theme__select-options select:focus,
.theme__select-options select:focus-within,
.theme__select-options select:focus-visible {
  outline: none;
  border: none;
}
